html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #3f3f3f;
}

header {
  padding: 20px 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-left, .footer-left {
  float: left;
}

.header-right, .footer-right {
  float: right;
}

.header div {
  display: inline-block;
}

.header-left a, .header-right a {
  margin: 0 10px;
}

.main {
  text-align: center;
  width: 700px;
  margin: 200px auto;
}

.main img, .main input, .main div {
  display: block;
  margin: 30px auto;
}

.main input {
  width: 600px;
  height: 50px;
  padding: 10px;
  -webkit-appearance: none;
  border-radius: 3px;
  box-shadow: 1px 2px 2px 0px #d9d9d9;
  border: 1px solid #d0cece;
}

.main button {
  color: #767676;
  font-weight: bold;
  margin: 0 10px;
  border: none;
  padding:  10px 16px;
  border-radius: 3px;
  background-color: #ececec;
}

ul {
  list-style-type: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 14px 35px;
  background-color: #eeeeee;
  border-top: 1px solid #cfcfcf;
}

.footer li {
  margin: 0 12px;
}

a:hover {
  text-decoration: underline;
}